@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
html, body{
	background: url("bantersnaps-5CPIzjWzGxo-unsplash.jpg"); /* Links to your background image, which you can also replace with a URL. */
	background-size: cover; /* Image covers page. */
	background-repeat: no-repeat; /* Image does not repeat. */
	background-attachment: fixed; /* Image doesn't move when you scroll up or down. */
	background-position: top;
	text-align: left;
	color: white; /* Text color. */
	
        font-size: 25px;
        font-weight: bold;
}

a {
  color: white
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
       
}

.section-1 {
	
       background: url(""); 
}

.section-2 {
	background: url("");
}

.section-3 {
	background: url("");
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: white;
}
content{
	color: white;
}

a.nav-item:hover {
	color: white;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: white;
	text-align: left;
	margin-bottom: 2rem;
}

.content {
	background: #ECF1F524;
  mix-blend-mode: normal;
backdrop-filter: blur(15px);
  
  overflow:hidden;
}


.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}
.timeline{
  
  width:600px;
  height:1800px;
  background: #ECF1F524;
  mix-blend-mode: normal;
backdrop-filter: blur(15px);
  
  overflow:hidden;
 



  margin-left:300px;
box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.566816);
border-radius: 10px;

  
  
  h3{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 30px;
color: #FFFFFF;
    margin-left:66px;
    margin-top:40px;
  font-style: italic;


  }
  
  label{
    
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */
margin-left:66px;
margin-top:10px;

color: #FFFFFF;

  }
  
  .box{
    width:100%;
    height:1000px;
    background:#fbfcfd;
    margin-top:99.5px;
    
    
    .container{
      
      width:100%;
      height:357px;
      display:flex;

      .lines{
        margin-left:40px;
        margin-top:6px;
        
        
        .dot{
          width:14px;
          height:14px;
background: #D1D6E6;
          border-radius:7px;
        }
        
        .line{
          height:103px;
          width:2px;
          background: #D1D6E6;
          margin-left:5.3px;
        }
      }
      .cards{
        
        margin-left:12px;
        transform:translateY(-50px);
        .card{
          width:249px;
          height:93px;
          padding-top:25px;
          background: #FFFFFF;
box-shadow:0 2px 2px 0  #eeeeee40;
border-radius: 10px;
          
          box-shadow: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);
          margin-bottom:10px;
          
          &.mid{
   
            height:71px;
          }
          
          h4{
            
            font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
margin-left:25px;
            margin-bottom:5px;
            
        


color: #2B2862;

          }
          
          p{
            
            font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #2B2862;
  margin-left:25px;
          }
        }
      }
    
    }
    
   .bottom{
      width:100%;
      height:50px;
        background:#fff;
      box-shadow:0 0 2px #eeeeee50;
      padding-top:45px;
      
      .btn{
        width:249px;
        height:62px;
        background: #FFFFFF40;
mix-blend-mode: normal;
cursor:pointer;
border: 1px solid #8260D780;
border-radius: 5px;
        
        display:flex;
        align-items:center;
        justify-content:center;
        font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
color: #2B2862;
       
        margin-left:53px;
        transition:0.3s;
        background:#2B2862;
          color:#fff;
           border-color:#2B2862;
        
        &:hover{
           transform:scale(1.03)
          
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
